{% extends 'MasterAdmin.html' %}

{% block head %}
    <title>Create book</title>
{% endblock %}

{% block content %}
    <div class="container" id="books-container">
        {% load crispy_forms_tags %}
        <div class="row">
            <div class="col-md-6 col-12">
                <h4>Books:</h4>
                {#                vue start#}
                <div class="list-group">
                    <input v-model="searchQuery" type="text" placeholder="Search author"
                                   class="form-control mb-5 mt-2">


                    <div v-if="resultQuery.length" v-for="(author,index) in resultQuery" :key="index"
                         class="list-group-item list-group-item-action flex-column align-items-start">

                        <h5 v-text="author.name" class="cap-first"></h5>

                        <small v-for="(book,aindex) in author.book" :key="aindex"
                               class="pe-2 d-inline-block cap-first" v-text="book"></small>


                    </div>
                    <div  v-else>
                        <h5>No result. </h5>
                    </div>


                </div>
                {#                vue end#}
                {#                                <div x-data="book_data" x-init="all_books()">#}
                {#                                    <div class="list-group">#}
                {#                                        <template x-for="(book,index) in Array.from(books)">#}
                {##}
                {#                                            <div class="list-group-item list-group-item-action flex-column align-items-start">#}
                {##}
                {#                                                <h5 x-text="book.name" class="cap-first"></h5>#}
                {#                                                <template x-for="(category,aindex) in Array.from(book.category)" :key="aindex">#}
                {#                                                    <small class="pe-2 d-inline-block cap-first" x-text="category"></small>#}
                {#                                                </template>#}
                {#                                            </div>#}
                {#                                        </template>#}
                {##}
                {#                                    </div>#}
                {#                                </div>#}
                {#                <div class="list-group">#}
                {#                    {% for book in books %}#}
                {#                        <div class="list-group-item list-group-item-action flex-column align-items-start">#}
                {##}
                {#                            <h5>{{ book.name | capfirst }}</h5>#}
                {#                            {% for category in book.category.all %}#}
                {#                                <small class="pe-2 d-inline-block">{{ category | capfirst }}</small>#}
                {#                            {% endfor %}#}
                {#                        </div>#}
                {#                    {% endfor %}#}
                {#                </div>#}
            </div>
            <div class="col-md-6 col-12">
                <h5>New author:</h5>
                <form action="{% url 'book:author' %}" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-primary">Add now</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        var app = new Vue({
            el: '#books-container',
            delimiters: ["[[", "]]"],
            data: {
                message: 'Hello Vue!',
                authors: [],
                filter_books: [],
                searchQuery: '',
            },
            computed: {
                resultQuery() {
                    if (this.searchQuery) {
                        return this.authors.filter((item) => {
                            return this.searchQuery.toLowerCase().split(' ').every(v => item.name.toLowerCase().includes(v))
                        })
                    } else {
                        return this.authors;
                    }
                }
            },
            created() {
                fetch(`/book/author/`, {
                    method: 'get',
                    credentials: "same-origin",
                    headers: {
                        "X-Requested-With" : "XMLHttpRequest",
                        "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        this.authors = data;
                    });
            }
        })
    </script>
    {#        <script>#}
    {#            document.addEventListener('alpine:init', () => {#}
    {#                Alpine.data('book_data', () => ({#}
    {#                    books: '',#}
    {##}
    {#                    all_books() {#}
    {#                        fetch(`/book/all/`, {#}
    {#                            method: 'get',#}
    {#                            credentials: "same-origin",#}
    {#                        })#}
    {#                            .then(res => res.json())#}
    {#                            .then(data => {#}
    {#                                this.books = data#}
    {#                                console.log(this.books)#}
    {#                            });#}
    {#                    }#}
    {#                }))#}
    {#            })#}
    {##}
    {#        </script>#}
{% endblock %}