{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    {% block head %}

    {% endblock %}
    <!-- Favicon-->
    {#        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />#}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/base.min.css' %}" rel="stylesheet"/>
    <script defer src="{% static 'js/alpine.min.js' %}"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Library Management</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action
            list-group-item-light p-3 {% if request.path == '/' %}active{% endif %} "
               href="{% url 'index' %}">Dashboard</a>
            <div class="accordion accordion-flush list-group-item-light" id="book_according">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Books
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse {% if request.path == '/book/new/' or request.path == '/book/category/' %} show {% endif %}" aria-labelledby="flush-headingOne"
                         data-bs-parent="#book_according">
                        <div class="accordion-body">
                            <a class="list-group-item list-group-item-action
            list-group-item-light p-3 {% if request.path == '/book/new/' %}active{% endif %} "
                               href="{% url 'book:create' %}">New book</a>
                        <a class="list-group-item list-group-item-action
            list-group-item-light p-3 {% if request.path == '/book/category/' %}active{% endif %} "
                               href="{% url 'book:category' %}">Category</a>
                        </div>
                    </div>
                </div>
            </div>
            {#            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Shortcuts</a>#}
            {#            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Overview</a>#}
            {#            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Events</a>#}
            {#            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Profile</a>#}
            {#            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Status</a>#}
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-light" id="sidebarToggle">
                    <i data-feather="align-justify" stroke-width="1"></i>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                        {#        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>#}
                        {#        <li class="nav-item dropdown">#}
                        {#            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"#}
                        {#               aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
                        {#            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">#}
                        {#                <a class="dropdown-item" href="#">Action</a>#}
                        {#                <a class="dropdown-item" href="#">Another action</a>#}
                        {#                <div class="dropdown-divider"></div>#}
                        {#                <a class="dropdown-item" href="#">Something else here</a>#}
                        {#            </div>#}
                        {#        </li>#}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- Core theme JS-->
<script src="{% static 'js/sidebar.js' %}"></script>
<script>
    feather.replace()
</script>
{% block js %}

{% endblock %}
</body>
</html>
